.popup {
  background-color: white;
  margin: 50px;
  opacity: 1;
  padding: 20px;
  position: fixed;
  z-index:10;
  overflow: auto;
  height: 80vh;
}

.colorbox {
  width: 50px;
  height: 50px;
  padding: 20px;
  margin-right: 20px;
}
.images {
  height: 200px;
  overflow-x: scroll;
}
.images img {
  height: 100%;
  float: right;
  padding-right: 20px;
}
.close {
  position: fixed;
  top: 70px;
  right: 70px;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.title {
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}

.name {
  font-size: 1em;
}

.price {
  font-weight: bold;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .name {
    font-size: 2em;
  }
  .images {
    height: 300px;
    overflow-x: scroll;
  }
  .close {
    position: fixed;
    width:100%;
    height: 130px;
    top: 0px;
    left: 0px;
    margin: 0 auto;
  }
  .popup {
    background-color: white;
    margin: 0px;
    margin-top: 130px;
    opacity: 1;
    padding: 20px;
    position: fixed;
    z-index:10;
    overflow: auto;
    height: 80vh;
  }
}
