body {
  background-color: teal;
  padding: 20px;
  margin: 0;
  font-family: verdana;
  font-size: 15pt;
}
button {
  background-color: teal;
  color: white;
  padding: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-size: 35pt;
    padding: 0;
    margin: 0;
  }
  button {
    width: 100%;
    font-size: 2em;
  }
}
