.footer {
  text-align: right;
  background-color: #eee;
}
.copyright {
  padding: 20px 20px;
  font-size: 0.75em;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .title {
    font-size: 1emem;
  }
}
