.title {
  font-size: 1em;
}

.header {
  padding: 20px;
  background-color: #eee;
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .title {
    font-size: 2em;
  }
}
