.card {
  background-color: white;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.name {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.thumb {
  margin: 0 auto;
  height: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

img { height: 100%;}

.price {
  width: 100%;
  text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card {
    width: 100%;
  }
  .thumb {
    height: 300px;
  }
}
