
.img {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  z-index:10;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .img {
    margin: 0 auto;
    height: 150px;
    width: 150px;
  }
}
