.phoneListContainer {
  padding: 20px;
  background-color: #eee;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.error {
  color: red;
}

.button {
  width: 100%;
  text-align: center;
}
